*
!.gitignore
!labs/
!labs/*
!latex/
!latex/references.bib
!latex/main.tex
!latex/main.pdf
!python/
!python/*
python/__pycache__/
!setup.ipynb
!keys/
keys/*
*.DS_Store
!labs/data/
labs/data/*
!labs/encrypted-data/
!labs/encrypted-data/*

