*
**/.DS_Store
!.gitignore
!labs/
!labs/*
!latex/
!latex/references.bib
!latex/main.tex
!latex/main.pdf
!latex/images/
!latex/images/*.png

!complex-visualization/
!complex-visualization/*

complex-visualization/__pycache__/
!setup.ipynb
!keys/
keys/*
*.DS_Store
!labs/data/
!labs/data/*
!labs/data/images/
!labs/data/images/*

